[mysqld]
max_allowed_packet=20M
explicit_defaults_for_timestamp=true
skip-name-resolve


server_id=1721907
binlog-ignore-db=mysql
log-bin=edu-mysql-slave-bin
binlog_cache_size=1M
binlog_format=mixed
expire_logs_days=7
slave_skip_errors=1062
relay_log=edu-mysql-relay-bin
log_slave_updates=1
read_only=1